* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --purple: #42395e;
  --light-yellow: #fcf3cf;
  --dark-yellow: #dcbb53;
  color: var(--purple);
}

body *:not(.fas) {
  font-family: 'Poppins', sans-serif !important;
}

body {
  color: var(--purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--purple);
}

.btn-outline-dark {
  border-color: var(--purple);
  color: var(--purple);
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.navbar-light {
  background-color: white;
}

.navbar-light.navbar-transparent {
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.25rem;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0px;
  color: var(--purple);
}

.navbar-light .nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: .5rem;
  padding-right: .5rem;
}

.underline-on-hover {
  position: relative;
}

.underline-on-hover::after {
  content: "";
  position: absolute;
  background-color: var(--dark-yellow);
  bottom: -5px;
  left: 0px;
  width: 0px;
  height: 1px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline-on-hover.active::after {
  width: 100%;
}

.nav-link.active button {
  background-color: var(--light-yellow);
}

.logo {
  width: 60px;
  transition: all .2s;
}

.rise-on-hover {
  transition: all .2s;
}

.form-control:focus {
  border-color: var(--purple);
  box-shadow: 0 0 0 0.2rem rgba(66, 57, 94, .25);
}

.page-content {
  position: relative;
  padding: 7%;
  min-height: calc(100% - 56px);
  margin-bottom: -80px;
}

.page-content:after {
  content: "";
  display: block;
  height: 80px;
}

h1 {
  margin-bottom: 30px;
}

input, textarea, button {
  border-radius: 10px !important;
}

input[type="file"] {
  border-radius: 0px !important;
}

.home-page-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  z-index: -2;
}

.photo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

.home-page-content-block {
  padding: 7%;
}

.home-page-section-1 {
  min-height: calc(100vh - 56px);
  border-bottom: solid 1px #ddd;
}

.home-page-section-1 h1 {
  font-size: 50px;
  letter-spacing: 1.5px;
}

.home-page-section-1 h3 {
  margin-bottom: 40px;
}

.home-page-section-1 button {
  font-size: 1.4rem;
}

.home-page-section-2 {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.home-page-section-2 img {
  width: calc(50% - 60px);
  border-radius: 10px;
  margin: 30px;
}

.home-page-intro {
  width: calc(50% - 60px);
  margin: 30px;
}

.home-page-intro h2, .home-page-intro p {
  margin-bottom: 20px;
}

.home-page-intro button {
  margin-bottom: 30px;
}

.home-page-section-3 {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.home-page-card {
  position: relative;
  width: 350px;
  max-width: 100%;
  margin: 30px;
  background-color: white;
  box-shadow: -5px 5px 5px 0px #ddd;
  border: solid 1px #eee;
  border-radius: 10px;
  padding: 30px;
}

.home-page-card h2 {
  margin-bottom: 15px;
}

.home-page-card p {
  margin-bottom: 0px;
}

.home-page-card .fas {
  color: #eee;
  font-size: 100px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.home-page-card-text {
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 30px;
  width: calc(100% - 60px);
}

.home-page-card-text-hidden {
  visibility: hidden;
}

.about-page-banner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  height: 350px;
  width: 100%;
}

.about-page-banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.about-page-banner-text {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 10px;
}

.about-page-content {
  width: 85%;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
}

.about-page-section-header {
  margin-bottom: 25px;
}

.about-page-section:first-of-type .about-page-section-header {
  margin-top: 0px;
}

.about-page-content-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.about-img {
  width: calc(50% - 50px);
  max-width: 500px;
  min-width: 300px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.about-arrow {
  position: relative;
}

.about-arrow-line {
  position: absolute;
  top: 24px;
  width: calc(100% - 10px);
  height: 2px;
  background-color: var(--dark-yellow);
}

.right-arrow .about-arrow-line {
  left: 0;
}

.left-arrow .about-arrow-line {
  right: 0;
}

.about-arrowhead {
  position: absolute;
  top: 17px;
  height: 16px;
}

.right-arrow .about-arrowhead {
  right: 0;
}

.left-arrow .about-arrowhead {
  left: 0;
}

.about-arrow h1 {
  visibility: hidden;
}

.about-photo {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-page-content-block .about-text {
  width: calc(50% - 50px);
  max-width: 500px;
  min-width: 300px;
  margin-left: 25px;
  margin-right: 25px;
}

.right-aligned {
  text-align: right;
}

.definitions {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 20px;
  border: solid 1px #ddd;
}

.definitions-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.services-page-section.colored-section {
  background-color: #eee;
}

.services-page-content {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 450px;
  position: relative;
}

.services-page-section-header {
  margin-bottom: 15px;
}

.services-page-section:first-of-type .services-page-section-header {
  margin-top: 0px;
}

.services-page-content-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.services-page-content-block img {
  width: calc(50% - 50px);
  max-width: 450px;
  min-width: 300px;
  height: 350px;
  max-height: 75vw;
  object-fit: cover;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}

.services-page-content-block .services-text {
  width: calc(50% - 50px);
  max-width: 450px;
  min-width: 300px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.schedule-consultation-section {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 450px;
  width: 100%;
}

.schedule-consultation-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.schedule-consultation-text {
  float: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
  text-align: right;
}

.programs-page-content {
  max-width: min(1000px, 90%);
  margin-left: auto;
  margin-right: auto;
}

.program {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px #ddd;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: -5px 5px 5px 0px #ddd;
  margin: 65px auto 35px auto;
  padding: 30px;
}

.program .fa-external-link-alt {
  margin-left: 12px;
}

.program-img {
  width: 300px;
  max-width: calc(100% - 60px);
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

.program-text {
  min-width: 250px;
  max-width: calc(100% - 340px);
  margin-left: 20px;
}

.blog-post {
  width: 80%;
  max-width: 1000px;
  border: solid 1px #ddd;
  border-radius: 10px;
  box-shadow: -5px 5px 5px 0px #ddd;
  margin: 0px auto 80px auto;
  padding: 20px;
}

.blog-post-img {
  width: 100%;
  border-radius: 10px;
}

.blog-post-title {
  margin-top: 25px;
  margin-bottom: 10px;
}

.blog-post-date {
  margin-bottom: 30px;
}

.blog-post-content {
  overflow: hidden;
}

.blog-post-content.collapsed {
  height: 120px;
}

.blog-post .read-more {
  margin-top: 20px;
  color: var(--purple);
}

.blog-post .read-more .fas {
  margin-left: 10px;
}

.contact-page {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.contact-page-content {
  display: flex;
  flex-wrap: wrap;
}

.contact-header {
  margin-bottom: 20px;
}

.contact-note {
  margin-bottom: 30px;
}

.contact-form {
  max-width: 500px;
  padding-right: 50px;
  border-right: solid 1px #ccc;
}

.contact-details {
  padding-left: 50px;
}

.contact-method {
  display: flex;
}

.contact-method .fas {
  margin-right: 20px;
  width: 20px;
}

.rfp-page {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.rfp-page-content {
  display: flex;
  flex-wrap: wrap;
}

.rfp-header {
  margin-bottom: 20px;
}

.rfp-note {
  margin-bottom: 30px;
}

.rfp-page h4 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.rfp-form {
  width: 100%;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer a {
  z-index: 10;
}

@media all and (min-height: 600px) {
  .home-page-section-1 {
    padding-top: 150px;
  }
}

@media all and (min-width: 1200px) {
  p, a {
    font-size: 1.25rem;
  }
}

@media all and (min-width: 800px) {
  .home-page-content-block {
    padding-left: 150px;
    padding-right: 150px;
  }

  .home-page-section-2, .home-page-section-3 {
    padding-left: min(50px, 7%);
    padding-right: min(50px, 7%);
  }
}

@media all and (min-width: 600px) {
  .home-page-section-1 h1 {
    font-size: 60px;
  }
}

@media all and (max-width: 957px) {
  .about-img {
    width: 100%;
  }

  .about-page-content-block .about-text {
    width: 100%;
    height: auto;
  }

  .services-page-content-block img {
    width: 100%;
  }

  .services-page-content-block .services-text {
    width: 100%;
    height: auto;
    margin: 0px;
  }

  .schedule-consultation-section {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media all and (max-width: 909px) {
  .home-page-section-2 img, .home-page-intro {
    width: 100%;
  }

  .home-page-intro {
    margin: 0px;
  }

  .contact-form {
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-bottom: 30px;
    border-right: none;
    border-bottom: solid 1px #ccc;
  }

  .contact-details {
    padding-left: 0px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 816px) {
  .program {
    width: 320px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .program-img {
    max-width: 280px;
    margin-left: 20px;
  }

  .program-text {
    width: 280px;
    max-width: 280px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .blog-post {
    width: 100%;
  }
}

@media all and (max-width: 599px) {
  .home-page-image {
    object-position: 90%;
  }

  .about-page-content {
    margin-top: 400px;
  }

  .about-page-banner-text {
    font-size: 30px;
  }
}

@media all and (hover: hover) {
  .btn-outline-dark:hover {
    background-color: var(--light-yellow);
    border-color: var(--purple);
    color: var(--purple);
  }

  .underline-on-hover:hover:after,
  .underline-on-hover:focus:after,
  .underline-on-hover:active:after {
    width: 100%;
  }

  .rise-on-hover:hover {
    transform: translate(0%, -10%);
  }

  .logo:hover {
    width: 64px;
  }

  a:hover {
    text-decoration: none;
    color: var(--purple);
  }

  .home-page-card:hover {
    cursor: pointer;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: var(--purple);
  }

  .blog-post .read-more:hover {
    cursor: pointer;
    color: var(--purple);
  }
}
